#nav_text {
    background-color: #FAFAF8;
    height: 100%;
    width: 50%;
    font-size: 500%;
    text-align: center;
    object-fit: contain;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(57, 255, 20); /* 연두색 텍스트 */
    text-shadow: 
        0 0 5px rgb(57, 255, 20),
        0 0 10px #0A7200,
        0 0 15px #0A7200;
}